#squa{

    margin-left:77vh ;
    margin-top:10vh;

}
button{
    width: 20vh;
    height:5vh;
    margin-top: 20vh;
    margin-left: 35vh;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}
 #circ{

    margin-left:77vh;
    margin-top:10vh;
  

 }
 #tri{

    margin-left:85vh ;
    margin-top:10vh;

 

} 